@import '../../index.css';

.homeHeader {
    background-color: var(--white);
    padding: 220px 75px 0px 75px;
    position: relative;
    z-index: 1;
}

.overlay{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;
    transition: 0.4s;
}

h1{
    font-family: var(--regular-font);
    font-weight: 700;
    font-size: var(--font-size-xl);
    letter-spacing: 0px;
    mix-blend-mode: difference;
    position: relative;
    color: #fff;
}

.detailsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 130px;
}

.email {
    /* color: var(--dark-grey); */
    font-family: var(--regular-font);
    font-weight: var(--font-weight-xs);
    font-size: var(--font-size-s);
    margin-bottom: 20px;
    display: block;

    color:#fff;
    mix-blend-mode: difference;
}

.titleContainer {
    font-family: var(--regular-font);
    font-weight: var(500);
    font-size: var(--font-size-md);
    letter-spacing: -2px;
    line-height: 50px;
    color:#fff;
    mix-blend-mode: difference;
}

.detailsContainerRight{
    margin-right: 140px;
}

.descriptionContainer{
    margin-right: 100px;
    text-align: left;
    color: var(--black);
    font-family: var(--regular-font);
    /* font-weight: var(--font-weight-xs); */
    font-weight: 300;
    font-size: var(--font-size-s);
    line-height: 26px;

    mix-blend-mode: difference;
    color: #fff;
}

.socialLinksContainer{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.socialLink{
    color: var(--light-grey);
    font-family: var(--regular-font);
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: 0.4s;
    overflow: hidden;
    padding: 10px 0px;

    mix-blend-mode: difference;
    
}

.socialLink::after{
    content: '';
    position: absolute;
    bottom: 4px;
    left: -104%;
    width: 100%;
    transition: 0.8s;
    border: 1px solid var(--dark-grey);
}

.socialLink:hover{
    color: var(--light-grey);
}

.socialLink:hover::after{
    left:100%;
}

.line {
    height: 4px;
    margin-top: 84px;
    background-color: var(--black);
}

@media screen and (max-width: 1400px) {
    .detailsContainer{
        margin-top: 100px;
    }

    .detailsContainerRight{
        margin-right: 90px;
    }

    .descriptionContainer{
        margin-right: 60px;
    }

    .titleContainer{
        line-height: 40px;
    }
}

@media screen and (max-width: 1020px) {
    .detailsContainer{
        margin-top: 80px;
    }

    .detailsContainerRight{
        margin-right: 50px;
    }

    .descriptionContainer{
        margin-right: 40px;
        line-height: 20px;
    }

    .titleContainer{
        line-height: 30px;
    }   
}

@media screen and (max-width: 844px) {
    .descriptionContainer{
        text-align: right;
        margin-right: 0px;
    }
}

@media screen and (max-width: 730px) {
    .homeHeader {    
        padding: 170px 60px 0px 60px;
    }

    .detailsContainer{
        flex-direction: column;
        align-items: flex-start;
    }

    .detailsContainerRight{
        margin-right: 0px;
        margin-top: 40px;
    }

    .descriptionContainer{
        text-align: left;
        line-height: 20px;
    }
}

@media screen and (max-width: 565px) {
    .homeHeader {    
        padding: 80px 20px 0px 20px;
    }

    .detailsContainer{
        margin-top: 30px;
    }

    .socialLinksContainer{
        display: none;
    }
}

@media screen and (max-height: 400px){
    .homeHeader{
        padding: 70px 20px 0px 20px;
    }

    .line {
        margin-top: 60px;
    }

    .detailsContainer{
        margin-top: 60px;
    }
}