.about{
    background-color: black;
    padding: 100px 75px 100px 75px;
    opacity: 0;
}

.aboutHeader{
    display: inline-block;
    font-family: var(--regular-font);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-xl);
    color: var(--black);

    margin-bottom: 40px;
    opacity: 0;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);

    background: linear-gradient(to right, transparent 50%, var(--white) 50%);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
    animation-name: aboutAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes aboutAnimation {
    0% {background-position: 0%;}
    50% {background-position: -100%;}
    100% {background-position: 0%;}
}

.container{
    display: flex;
}

.containerLeft, .containerRight{
    width: 50%;
}

.containerRight{
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid red; */
}

.containerRight img {
    max-width: 50%;
    opacity: 0;
}

.description{
    font-family: var(--regular-font);
    color: #999;
    font-size: var(--font-size-md);
    opacity: 0;
    padding-right: 40px;
}

.description:hover{
    color: var(--white);
}

.resume{
    font-family: var(--regular-font);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-xs);
    color: #999;;

    margin-top: 80px;
    display: block;
    opacity: 0;

    display: inline-block;
}

.resume:hover{
    color: var(--white);
}

@media screen and (max-width: 1132px) {
    .containerRight img{
        max-width: 70%;
    }
}

@media screen and (max-width: 1132px) {
    .containerRight img{
        max-width: 80%;
        max-height: 80%;
    }
}

@media screen and (max-width: 794px){
    .container{
        flex-direction: column-reverse;
    }

    .containerLeft, .containerRight{
        justify-content: center;
        align-content: center;
        /* border: 2px solid red; */
        width: 100%;
    }

    .containerLeft{
        margin-top: 40px;
    }
}

@media screen and (max-width: 730px){
    .about{
        padding: 80px 60px 80px 60px;
    }
}

@media screen and (max-width: 565px) {
    .about {    
        padding: 60px 20px 60px 20px;
    }
}