.contact{
    background-color: black;
    padding: 100px 75px 100px 75px;
    border-top: 1px solid white;
    
}

.header{
    display: inline-block;
    font-family: var(--regular-font);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-xl);
    color: var(--black);

    margin-bottom: 40px;
    opacity: 0;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);

    background: linear-gradient(to right, transparent 50%, var(--white) 50%);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
    animation-name: headerAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes headerAnimation {
    0% {background-position: 0%;}
    50% {background-position: -100%;}
    100% {background-position: 0%;}
}

.emailContainer, .socialLinksContainer{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    opacity: 0;

}

.email{
    font-family: var(--regular-font);
    font-weight: var(--font-weight-xs);
    font-size: var(--font-size-s);
    margin-bottom: 20px;
    text-decoration: none;
    display: flex;
    color:#fff;
    margin-bottom: 40px;
}

.socialLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.socialLinks > *:not(:last-child){
    margin-right: 40px;
}

.socialLink{
    text-decoration: none;
    font-family: var(--regular-font);
    font-weight: 500;
    color: #999;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
    padding: 10px 0px;
}

.socialLink::after{
    content: '';
    position: absolute;
    bottom: 4px;
    left: -104%;
    width: 100%;
    transition: 0.8s;
    border: 1px solid var(--white);
}

.socialLink:hover{
    color: var(--white);
}

.socialLink:hover::after{
    left:100%;
}

.copyright{
    color: #999;
    margin-bottom: 120px;
    font-family: var(--regular-font);
    opacity: 0;
}

@media screen and (max-width: 794px){
    .socialLinks{
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 730px){
    .contact{
        padding: 80px 60px 80px 60px;
    }
}

@media screen and (max-width: 565px) {
    .contact {    
        padding: 60px 20px 60px 20px;
    }

    .email{
        margin-bottom: 20px;
    }
}