* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --regular-font: 'Open Sans', sans-serif;

  --font-size-xl: 210px;
  --font-weight-xl: 800;

  --font-size-l: 80px;
  --font-weight-l: 700;
  
  --font-size-md: 30px;
  --font-weight-md: 700;
  
  --font-size-s: 18px;
  --font-weight-s: 600;
  
  --font-size-xs: 16px;
  --font-weight-xs: 500;

  --dark-grey: #3d3d3d;
  --light-grey: #999999;
  --light-light-grey: #cccccc;
  --white: #ffffff;
  --black: #111111;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.projects-container{
  display: flex;
  height: 100vh;
}

@media screen and (max-width: 1600px) {
  :root{
    --font-size-md: 24px;
  }
}

@media screen and (max-width: 1400px) {
  :root{
    --font-size-xl: 190px;
    --font-size-l: 70px;
    --font-size-md: 22px;
  }
}

@media screen and (max-width: 1020px) {
  :root{
    --font-size-xl: 150px;
    --font-size-md: 20px;
  }
}

@media screen and (max-width: 730px) {
  :root{
    --font-size-l: 60px;
    --font-size-s: 16px;
  }
}

@media screen and (max-width: 565px) {
  :root{
    --font-size-xl: 80px;
    --font-size-l: 50px;
    --font-size-md: 18px;
  }
}


@media screen and (max-width: 425px){
  :root{
    --font-size-l: 40px;
    --font-size-xl: 70px;
  }
}
